<mat-toolbar>
    <span>
     <a routerLink="" mat-button>
        <mat-icon>local_movies</mat-icon> Productos
     </a>
    </span>

    <div>
        <a mat-button routerLink="peliculas/filtrar">
            <mat-icon>search</mat-icon>
            Buscar Producto</a>
    </div>
    <div>
        <a mat-button routerLink="generos">Categorias</a>
    </div>
    <div>
        <a mat-button routerLink="actores">Buscar Producto</a>
    </div>
    <div>
        <a mat-button routerLink="cines">Ubicacion</a>
    </div>
    <div>
        <a mat-button routerLink="peliculas/crear">Crear pedido</a>
    </div>
</mat-toolbar>