<mat-toolbar>

     <span>
     <a routerLink="" mat-button>
        <mat-icon>home</mat-icon> home
    </a>
    </span>

    <div>
        <a mat-button routerLink="productos">
            <mat-icon>shopping_cart</mat-icon>
            productos</a>
    </div>

    <div>
        <a mat-button routerLink="productos/filtrar">
            <mat-icon>search</mat-icon>
            Buscar Producto</a>
    </div>
    <div>
        <a mat-button routerLink="generos">Categorias</a>
    </div>
    <div>
        <a mat-button routerLink="actores">Buscar Producto</a>
    </div>
    <div>
        <a mat-button routerLink="cines">Ubicacion</a>
    </div>
    <div>
        <a mat-button routerLink="peliculas/crear">Crear pedido</a>
    </div>

    
</mat-toolbar>