.home-container {
  text-align: center;
  padding: 20px;
}

h1 {
  color: #006400;
}

button {
  background-color: #28a745;
  color: white;
  padding: 10px 20px;
  border: none;
  cursor: pointer;
}

button:hover {
  background-color: #218838;
}
